html,
body {
  line-height: 1.5em;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;

  &.page-template-termos-de-uso{
    overflow-x: unset;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5em;
}

p {
  line-height: 1.5em;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: white;
}

a:hover, ul li:hover{
  color: #4c6275;
  transition: 0.3s;

}

img {
  max-width: 100%;
}

a,
a:hover {
  text-decoration: none;
}