header {
  .headerBar {
    height: 10vh;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a {
      font-size: 20px;
      font-weight: 500;
    }

    .navigationBar {
      ul {
        display: flex;
        flex-direction: row;
        margin: 0;
      }
      ul li {
        list-style-type: none;
        font-size: 20px;
        font-weight: 500;
        padding: 0 20px;
        cursor: pointer;
      }
    }

    @media (max-width: 1000px) {
      #menu-home {
        padding: 0;
      }

      .navigationBar {
        ul li {
          padding: 0 12px;
        }
      }

      .headerLink {
        display: none;
      }
    }
  }
}
